
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <link rel="stylesheet" href="style.css" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="logo.png">
      </div>
      <h1>Report {{ id }}</h1>
      <div id="company" class="clearfix">
        <div>Seren Up</div>
        <div>Via Prasecco, 3a <br /> 33170 Pordenone, IT</div>
        <div>+3904341697221</div>
        <div><a href="mailto:segreteria@itsaltoadriatico.it">segreteria@itsaltoadriatico.it</a></div>
        
      </div>
      <div id="project">
        <div><span>GENERATED</span> {{ generated_at }}</div>
      </div>
    </header>
    <main>
      {{ cards analysis }}

      {{ image chart serendipity }}

      {{ image chart falls }}

    </main>
    <footer>
      Report was created with nigh elaboration of the analysis script.
    </footer>
  </body>
</html>